matplotlib==3.10.8
missingno==0.5.2
numpy==2.4.3
openmeteo_requests==1.7.5
openmeteo_sdk==1.26.0
pandas==2.3.3
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
urllib3-future==2.18.900
wassima==2.0.5
watchdog==6.0.0
wbgapi==1.0.14

streamlit>=1.32.0
plotly>=5.18.0
folium>=0.15.0
streamlit-folium>=0.18.0
sqlalchemy
requests
pytest
python-dotenv
fastapi
uvicorn
requests
psycopg2-binary